* {
    box-sizing: border-box;
  }  
body{
    font-family: 'Roboto', sans-serif;
}
.escondido{
    display:none;
}
.telaInicial{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.logo img{
    width:218px;
    height: 279px;
    margin-top: 60px;
    margin-bottom:50px;
}
button{
    width: 300px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    border: 3px solid #FFEF61;
    border-radius: 12px;
    background-color: #FFFFFF;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor:pointer;
}


.telaInicial button img{
    width: 30px;
    height: 30px;
    padding: 2px;
}

.flashCards{
    width: 100vw;   
}
header{
    width: 100vw;
    height: 80px;
    display:flex;
    align-items: center;    
}
.container{
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.flashCards img{
    width: 141px;
    height: 54px;
}
.flashcardFrente, .flashcardVerso{
    width:230px;
    height: 350px;
    box-shadow: 0px 8px 24px 1px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
.flashcardFrente p {
    font-size: 25px;
    font-weight: bold;
}
.numeroCarta{    
    position: absolute;
    top: 10px;
    right: 10px;
}
.numeroCarta p{
    font-size: 15px;
    font-weight: 400;
}
.botaoRetorno img{
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 10px;
    right:10px;
}
.tituloCard{    
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 40px;
}
.conteudoTexto{
    margin: 60px 10px;
    font-size: 14px;
}
.respostas{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.respostaUm, .respostaDois, .respostaTres, .respostaQuatro{
    width: 50px;
    height: 33px; 
    font-size: 8px;
    font-weight: 400;
    border-radius: 8px;   
    display: flex;
    align-items: center;
    justify-content: center;
}
.respostaUm{
    border: 3px solid black;
}
.respostaDois{
    border: 3px solid #F64848;
}
.respostaTres{
    border: 3px solid #6FDC39;
}
.respostaQuatro{
    border: 3px solid #FEEA60;
}
.telaSucesso{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;;
}
.classificação{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.classificação h1{
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 16px;
}
.classificação p{
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 16px;
}


